.grey_button {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    background-color: #F6F6F6;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 72px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.15));

    i {
        margin: 0 27px 0 20px;
        font-size: 19px; // Taille de l'icône
        color: #7E7E7E; // Couleur de l'icône par défaut
        width: 15px;
    }

    &:hover i {
        color: #9356DC; // Couleur de l'icône au survol
    }

    &:focus {
        outline: none; // Pour enlever le focus par défaut sur le bouton
    }

    &_number {
        position: absolute;
        left: -9px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9356DC;
        color: #fff;
        border-radius: 100%;
        width: 24px;
        height: 24px;
    }


    // Desktop
    @media (min-width: 1440px) {
        min-width: 335px;
    }
}