.menu_card {
  border-radius: 15px;
  height: 69px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  margin-bottom: 12px;
  text-align: initial;
  position: relative; /* Ajoute un contexte de positionnement */

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-right: 10px;
    text-align: initial;

    h4 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
      white-space: nowrap;
    }

    p {
      font-size: 15px;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
    position: absolute; /* Positionne le prix de manière absolue */
    right: 15px; /* Aligne le prix à droite avec une marge de 15px */
  }

  .check {
    display: none;
  }

  @keyframes slideUpMenu {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
    &:nth-child(1) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.6s;
    }
    &:nth-child(7) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.7s;
    }
    &:nth-child(8) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.8s;
    }
    &:nth-child(9) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.9s;
    }
    &:nth-child(10) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 1s;
    }

  }
