.menu_card {
  border-radius: 15px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  margin-bottom: 12px;
  text-align: initial;
  overflow: hidden;

  &:hover {
    .check {
      margin-right: 0;

      i {
        transition: 1s;
        transform: rotate(1turn);
      }
    }
  }
  
  .menu_infos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        margin-right: 10px;
        text-align: initial;
        width: 1px;
    
        h4 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
    
        p {
          font-size: 15px;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    
      .price {
        margin-top: auto;
      }
    }


  .check {
    background: #99E2D0;
    width: 59px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: -59px;
    transition: .5s;
    
    & i {
      background-color: #99E2D0;
      color: #fff;
      font-size: 25px;
    }

  }

  @keyframes slideUpMenu {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
    &:nth-child(1) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.3s;
    }
    &:nth-child(4) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.4s;
    }
    &:nth-child(5) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.5s;
    }
    &:nth-child(6) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.6s;
    }
    &:nth-child(7) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.7s;
    }
    &:nth-child(8) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.8s;
    }
    &:nth-child(9) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 0.9s;
    }
    &:nth-child(10) {
      animation: slideUpMenu 0.5s ease-out forwards;
      animation-delay: 1s;
    }

  }
 // Styles pour tablettes
 @media (min-width: 768px) and (max-width: 1439px) {
  // Ajoutez ici les styles spécifiques pour les tablettes
}

// Styles pour desktops
@media (min-width: 1440px) {
  // Ajoutez ici les styles spécifiques pour les desktops
}
