.operation {
    text-align: center;
    padding: 58px 20px 66px 20px;

    h2 {
        text-align: left;
        font-weight: 700;
        font-size: 24px;
        margin: 0 0 26px 0;
    }
    
    .list {
        display: flex;
        flex-direction: column;
        max-width: 322px;
        gap: 25px;
        margin: 0 auto;
        list-style: none;

        button {
            width: 100%;
        }
    }

    // Tablet
    @media (min-width: 768px) {
        padding: 58px 70px;

        .list {
            flex-direction: row;
            margin: 0;
            max-width: unset;
        }
    }

    // Desktop
    @media (min-width: 1440px) {
        padding: 58px 180px;

        .list {
            flex-direction: row;
            margin: 0;
        }
    }
}