.resto_banner{
    width: 100%;
    position: relative;
    z-index: 2;
}

.resto_section {
    text-align: left;
    background-color: #f6f6f6;
    padding: 32px 13px;
    border-radius: 30px 30px 0 0;
    margin-top: -45px;
    position: relative;
    z-index: 3;

    .menu_header{
        display: flex;
        justify-content: space-between;

        .title {
            font-family: "Shrikhand", serif;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 40px;
        }

        .heart{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            
            i {
              font-size: 20px;
              padding: 2px;
              color: #fff;
              -webkit-text-stroke: 1px #000;
              
              &:hover { /* Faire le reverse */
                transition: 1s;
                background-clip: text;
                -webkit-text-stroke: 1px transparent;
                background: linear-gradient(#9356DC, #FF79DA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
              }
            }
          }
    }


    .sub_title {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

.order_btn {
    text-align: center;
    margin: 30px 0 10px 0;
}
}
.start {
    & > .sub_title {
      font-weight: 300;
      font-size: 16px;
      border-bottom: 3px solid #99e2d0;
      width: 40px;
      margin-bottom: 20px;
    }
  }

  .main,
  .dessert {
    margin-top: 40px;

    & > .sub_title {
      font-weight: 300;
      font-size: 16px;
      border-bottom: 3px solid #99e2d0;
      width: 40px;
      margin-bottom: 20px;
    }
  }

  .order_btn {
    text-align: center;
    margin: 30px 0 10px 0;
  }

//fa fleche gauche header ; h1 titre en Shrikhand ;  integrer dans des cards entrees / plats  / desserts
//regler les paddings ; intégrer le gradientButton en changeant le text
//anticiper au chargement de la page les anim de menus ; les anim de coche verte ; les anim de coeurs gradient
//penser au responsive tablet desktop
//ligne verte sous "entrees, plats, desserts" = #99E2D0 epaisseur 3px (w= 40 ????)