footer {
    background-color:  #353535;
    padding: 15px;
    color: #fff;

    .logo{
        width: 100px;
        filter: invert(100%) sepia(47%) saturate(0%) hue-rotate(55deg) brightness(111%) contrast(101%);
        margin-bottom: 16px;
    }

    ul{
        list-style: none;

        li{
        margin-bottom: 7px;
        }
    }

    a{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;

        i{
            margin-right: 11px;
            width: 18px;
        }
    }
}