footer {
    background-color: #353535;
    padding: 15px;
    color: #fff;

    .logo {
        filter: invert(100%) sepia(47%) saturate(0%) hue-rotate(55deg) brightness(111%) contrast(101%);
        order: 2; /* Pour placer le logo en deuxième position après les liens */
        margin-left: auto; /* Place le logo à l'extrême droite */
        max-width: 120px;
      }
      
    ul {
      list-style: none;
    
      li {
        margin-bottom: 7px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
        
          i {
            margin-right: 11px;
            width: 18px;
          }
        }
      }
    }

    // Tablet
    @media (min-width: 768px) {
      display: flex;
      height: 114px;
      padding: 15px 15px 30px;

      .logo {
        height: fit-content;
        margin: auto auto 0;
      }

      ul {
        display: flex;
        margin-left: auto;

        li{
          margin-bottom: 0;
          margin-top: auto;
          margin-right: 7px;
          
          &:nth-child(1), &:nth-child(2)  {
            font-weight: 500;
            white-space: nowrap;


            a i {
              margin-right: 2px;
            }
          }

          &:nth-child(3) {
            margin-left: 20px;
          }

          &:nth-child(3), &:nth-child(4)  {
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }

    // Desktop
    @media (min-width: 1024px) {
      .logo {        
        margin-left: 0;
        margin-top: auto;
        margin-right: 60px;
      }
      ul {

        li{

          &:nth-child(3), &:nth-child(4)  {
            width: 130px;
          }
        }
      }
    }
  }
  