footer {
    background-color:  #353535;
    padding: 15px;
    color: #fff;

    .logo{
        width: 100px;
        filter: invert(100%) sepia(47%) saturate(0%) hue-rotate(55deg) brightness(111%) contrast(101%);
    }

    ul{
        list-style: none;
    }

    a{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
    }
}