.loader {
    position: relative;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 0.1s ease-in forwards;
    //animation-delay: 3s;
    animation-timing-function: step-end;

    i {
        font-size: 30px;
        animation: spin 4s linear infinite;
        color: #FF79DA;
    }
}

@keyframes spin {
    100% { 
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    from {
        overflow: hidden;
    }
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}