.loader {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 2s ease-in forwards;
    animation-timing-function: step-end;

    i {
        font-size: 100px;
        animation: spin 4s linear infinite;
        color: #FF79DA;
    }
}

body {
    animation: disappear 2s ease-in forwards;
}

@keyframes disappear {
    from {
        overflow: hidden;
        pointer-events: none;
    }
    to {
        pointer-events: auto;
        overflow: auto;
    }
}

@keyframes spin {
    100% { 
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
  
@keyframes loading {
    from {
        opacity: 1;
        height: 100vh;
        width: 100vw;
    }
    to {
        opacity: 0;
        width: 0;
        height: 0;
    }
}